<head>
  <div align="right">
    <%= link_to 'About', about_path%>
  </div>
  <div align="center">
    <h1>Welcome to Alpha Blog!</h1>
  </div>
</head>
<body>
  <div align="center">
      <img src="http://www.kortext.com/wp-content/uploads/2017/03/Oli-Blog-2.jpg" alt="Smiley face" height="512" width="1024">
    </div>
  <p>
    This is my blog
  </p>
</body>
